@charset "utf-8";
/*整体*/
#container{ width:90%; margin:0 auto; overflow: hidden; padding-top: 10px; }
/*导航*/
#nav{ font-size:2.2em; float:none; display: inline; width:100%; text-align:left; padding-top: 0;}
#nav li{ display: none; }
#nav .nav-first{display:list-item; }
#nav:hover > li,#nav:focus > li,#nav:active > li{ display:list-item; }
#nav a{ display:block; padding:.3em 0em; color:#000; }
#nav a:active{ background-color:#ff0000; text-decoration:none; color:#f9f9f9; transition:color .2s linear; }
/*内容*/
#main{ margin-left:0; }
.meta {font-size: .85em;}
.other-post {text-align: center;}
.alipay{text-align: center;}
.alipay img{display: none;}
/*翻页*/
.paginator { font-size:1em;}
/*评论*/
.ds-thread{display: none;}
/*尾部*/
#footer small{font-size: 14px;}
/*其他*/
.dis_n{display: none!important;}