/*
 @Name:
 @Description:
 @Version:
 @Author: wangzhe(hi@wangdaodao.com)
*/
@charset "utf-8";
.demo{
	background-color: #ff0;
	width: 500px;
	height: 100px;
	color: #000;
	top: 100px;
}
div.float{
	border: 1px solid #fff;
	height: 250px;
	padding: 20px;
}
.float_demo{
}
div.float1{
	width: 100px;
	height: 100px;
	border: 1px solid #ff0;
	margin: 10px;
}
div.float2{
	width: 100px;
	height: 100px;
	border: 1px solid #f00;
	margin: 10px;
}
div.float3{
	width: 100px;
	height: 100px;
	border: 1px solid #0f0;
	margin: 10px;
}
div.fleft{
	float: left;
	display: inline;
}
div.fright{
	float: right;
	display: inline;
}