/*
 Name:style.css
 Description:简历样式
 Version:3.0
 Author: wangzhe
 email hi@wangdaodao.com
*/
@charset "utf-8";
body, h1, h2, h3, ul, ol, li, dl, dt, dd, p, td{margin:0;padding:0;}
img{border:0 none;}
ul, ol{list-style:none;}
em{font-style:normal;background:#eee;color:#666;padding:0 5px;margin:0 2px;font-size:0.9em;border:1px solid #ddd;border-radius:3px;}
a:link, a:visited{text-decoration:none;color:#ec3b36;}
a:hover{text-decoration:none;color:#FF4E00;}
body{font-size:14px;line-height:180%;text-align:center;background-image:url(images/wood-bg.jpg);font-family:"MicroSoft YaHei";}
h1{font-size:28px;}
h2{font-size:18px;}
h3, dt{font-size:14px;}
sup{font-weight:normal;}
sup a{cursor:help;}
#pager{width:61.8%;margin:25px auto;text-align:left;background:transparent url(images/paper.png) 0 0 repeat;border-radius:6px;box-shadow:0 0 5px #000;}
#header{border-radius:5px 5px 0 0;background:transparent url(images/nav.png) 0 0 repeat-x;height:50px;line-height:46px;text-align:center;color:#fff;}
#main{background:transparent url(images/container.png) 0 0 repeat-x;padding:0 20px 20px 25px;border-radius:0 0 5px 5px;}
#main h2, #main h3{line-height:21px;padding-top:15px;}
#main dl{margin-top:6px;}
#main dt{font-weight:normal;color:#999;}
#main ul{margin:12px 0 25px 22px;}
#main ol{margin:12px 0 25px 42px;}
#main li{line-height:24px;margin-bottom:9px;}
#main ol li{list-style:decimal;}
#main ul li{list-style:none;}
#main p{margin:10px 0 17px;}
table{margin:12px 0 25px 20px;}
table td{padding: 3px 0;}