      <!-- footer -->
      <div id="footer"></div>
</div>
<p id="copyright">
     <a class="font_black" href="http://wangdaodao.com/" title="wangdaodao">Copyright © 2013</a>&nbsp;&nbsp;<a class="font_black" href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.1">XHTML 1.1</a>&nbsp;&nbsp;<a class="font_black" href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3" title="This page validates as CSS 3.0">CSS 3.0</a><!--[if lte IE 6]>&nbsp;&nbsp;<a class="font_black" href="http://www.ie6countdown.com/" title="The Internet Explorer 6 Countdown">LET'S KILL IE 6</a><![endif]-->
</p>
      <!-- /footer -->