@charset "UTF-8";
/*
 Name:重置样式
 Description:这里负责重置浏览器样式。
 Version:1.1
 Author: wangdaodao
*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dd, ul, ol, pre, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

button, input, select, textarea {
  font: 12px/1.5 "Microsoft YaHei",微软雅黑, Arial, Verdana, Sans-Serif; }

body {
  font: 12px/1.5 "Microsoft YaHei",微软雅黑, Arial, Verdana, Sans-Serif;
  color: #000;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

html {
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

code, kbd, pre, samp, tt {
  font-family: "Courier New", 9, monospace; }

small {
  font-size: 12px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

a:link, a:visited, ins {
  text-decoration: none; }

a:hover, a:active {
  text-decoration: underline; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

legend {
  color: #000; }

fieldset, img {
  border: none; }

img {
  vertical-align: middle; }

button, input, select, textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

hr {
  border: none;
  height: 1px; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both; }

.clear {
  zoom: 1; }

.article-content ol li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.article-page .pre-page {
  float: left;
  display: inline; }

.article-page .next-page {
  float: right;
  display: inline; }

.font-left {
  text-align: left; }

.font-center {
  text-align: center; }

.font-right {
  text-align: right; }

.home-body {
  background: transparent url(../images/home.jpg) center center no-repeat;
  background-size: cover; }

.home-content {
  height: 80%; }
  .home-content p {
    width: 100%;
    height: 150px;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -75px;
    text-align: center;
    font-size: 2.75em;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(187, 143, 96, 0.5);
    font-weight: bold; }
  .home-content span {
    font-size: 0.8em;
    display: block; }

.footer {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }
  .footer td {
    width: 25%;
    text-align: center;
    vertical-align: middle; }
  .footer a {
    display: block;
    padding: 20px 0;
    font-size: 1.6em;
    color: #fff; }
  .footer .zgx-link {
    background-color: #a9dae9; }
  .footer .azyd-link {
    background-color: #59c2a4; }
  .footer .sqzk-link {
    background-color: #acd23f; }
  .footer .cpjs-link {
    background-color: #0cb3ea; }
  .footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0; }

.zgx-header {
  background-color: #A9DAE9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

.ayd-header {
  background-color: #59C2A4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

.sqzk-header {
  background-color: #ACD23F;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

.cpjs-header {
  background-color: #0CB3EA;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

.cpjs-swiper,
.vv-swiper,
.fw-swiper,
.gj-swiper,
.ywd-swiper,
.jdk-swiper {
  height: 100%; }
  .cpjs-swiper .swiper-container,
  .vv-swiper .swiper-container,
  .fw-swiper .swiper-container,
  .gj-swiper .swiper-container,
  .ywd-swiper .swiper-container,
  .jdk-swiper .swiper-container {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA; }
  .cpjs-swiper .swiper-box,
  .vv-swiper .swiper-box,
  .fw-swiper .swiper-box,
  .gj-swiper .swiper-box,
  .ywd-swiper .swiper-box,
  .jdk-swiper .swiper-box {
    padding-top: 40px; }
  .cpjs-swiper .swiper-slide,
  .vv-swiper .swiper-slide,
  .fw-swiper .swiper-slide,
  .gj-swiper .swiper-slide,
  .ywd-swiper .swiper-slide,
  .jdk-swiper .swiper-slide {
    position: relative; }
  .cpjs-swiper .swiper-slide-prev,
  .cpjs-swiper .swiper-slide-next,
  .vv-swiper .swiper-slide-prev,
  .vv-swiper .swiper-slide-next,
  .fw-swiper .swiper-slide-prev,
  .fw-swiper .swiper-slide-next,
  .gj-swiper .swiper-slide-prev,
  .gj-swiper .swiper-slide-next,
  .ywd-swiper .swiper-slide-prev,
  .ywd-swiper .swiper-slide-next,
  .jdk-swiper .swiper-slide-prev,
  .jdk-swiper .swiper-slide-next {
    overflow: hidden; }
  .cpjs-swiper .swiper-slide-prev *,
  .cpjs-swiper .swiper-slide-next *,
  .vv-swiper .swiper-slide-prev *,
  .vv-swiper .swiper-slide-next *,
  .fw-swiper .swiper-slide-prev *,
  .fw-swiper .swiper-slide-next *,
  .gj-swiper .swiper-slide-prev *,
  .gj-swiper .swiper-slide-next *,
  .ywd-swiper .swiper-slide-prev *,
  .ywd-swiper .swiper-slide-next *,
  .jdk-swiper .swiper-slide-prev *,
  .jdk-swiper .swiper-slide-next * {
    display: none; }

.cpjs-swiper dl {
  position: absolute;
  width: 100%; }
.cpjs-swiper dt {
  font-size: 2.4em;
  padding: 0 10px; }
.cpjs-swiper dd {
  font-size: 1.6em;
  padding: 5px 10px; }
.cpjs-swiper img {
  position: absolute; }

.cpjs-page1 {
  background-color: #016eb1;
  color: #fff; }
  .cpjs-page1 dl {
    bottom: 10%;
    left: 0; }
  .cpjs-page1 img {
    top: 15%;
    left: 5%; }

.cpjs-page2 {
  background-color: #FDFCF6; }
  .cpjs-page2 a {
    color: #666; }
  .cpjs-page2 dl {
    bottom: 10%;
    left: 0; }
  .cpjs-page2 img {
    top: 15%;
    left: 5%; }

.cpjs-page3 {
  background-color: #0281C6; }
  .cpjs-page3 a {
    color: #fff; }
  .cpjs-page3 dl {
    bottom: 5%;
    left: 0; }
  .cpjs-page3 img {
    top: 15%;
    left: 10%; }

.cpjs-page4 {
  background-color: #BFEBFE; }
  .cpjs-page4 a {
    color: #555; }
  .cpjs-page4 dl {
    bottom: 5%;
    left: 0; }
  .cpjs-page4 img {
    top: 15%;
    left: 10%; }

.cpjs-page5 {
  background-color: #8FC31F; }
  .cpjs-page5 a {
    color: #fff; }
  .cpjs-page5 dl {
    bottom: 5%;
    left: 0; }
  .cpjs-page5 img {
    top: 15%;
    left: 10%; }

.cpjs-page6 {
  background-color: #2F7EBE; }
  .cpjs-page6 a {
    color: #fff; }
  .cpjs-page6 dl {
    bottom: 5%;
    left: 0; }
  .cpjs-page6 img {
    top: 15%;
    left: -10%; }

.cpjs-page7 {
  background-color: #FAFAFA; }
  .cpjs-page7 form {
    padding: 10px;
    font-size: 1.4em; }
  .cpjs-page7 input, .cpjs-page7 select, .cpjs-page7 textarea {
    border: 1px solid #D8D8D8;
    background-color: #fff;
    border-radius: 5px;
    width: 100%; }
  .cpjs-page7 input[type="text"],
  .cpjs-page7 input[type="number"] {
    height: 30px; }
  .cpjs-page7 input[type="button"] {
    padding: 10px 0;
    background-color: #F60;
    border: none;
    border-radius: 5px;
    color: #fff;
    -webkit-appearance: none;
    outline: none; }
  .cpjs-page7 select {
    height: 33px; }
  .cpjs-page7 textarea {
    height: 90px; }
  .cpjs-page7 h2 {
    font-size: 2em;
    padding: 10px 0;
    text-align: center;
    color: #555; }
  .cpjs-page7 p {
    margin: 5px 0; }
  .cpjs-page7 label {
    display: block; }

.vv-swiper dl {
  color: #555;
  position: absolute;
  width: 100%; }
.vv-swiper dt {
  font-size: 2.4em;
  padding: 0 10px; }
.vv-swiper dd {
  font-size: 1.4em;
  padding: 5px 10px; }
.vv-swiper li {
  list-style: disc outside;
  margin-left: 20px; }
.vv-swiper img {
  position: absolute; }
.vv-swiper .swiper-slide {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DADADA), color-stop(100%, #FFF));
  background: -webkit-linear-gradient(top, #DADADA 0%, #FFF 100%);
  background: -o-linear-gradient(top, #dadada 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #dadada 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #DADADA 0%, #FFF 100%); }

.vv-page1 dl {
  bottom: 5%;
  left: 0; }
.vv-page1 img {
  top: 15%;
  left: 5%; }

.vv-page2 dl {
  bottom: 5%;
  left: 0; }
.vv-page2 img {
  top: 15%;
  left: 15%; }

.vv-page3 dl {
  bottom: 5%;
  left: 0; }
.vv-page3 img {
  top: 15%;
  left: 15%; }

.vv-page4 dl {
  bottom: 5%;
  left: 0; }
.vv-page4 img {
  top: 15%;
  left: 15%; }

.vv-page5 dl {
  bottom: 5%;
  left: 0; }
.vv-page5 img {
  top: 15%;
  left: 5%; }

.vv-page6 dl {
  bottom: 5%;
  left: 0; }
.vv-page6 img {
  top: 15%;
  left: 15%; }

.fw-swiper dl {
  position: absolute;
  width: 100%; }
.fw-swiper dt {
  font-size: 2.4em;
  padding: 0 10px; }
.fw-swiper dd {
  font-size: 1.4em;
  padding: 5px 10px; }
.fw-swiper li {
  list-style: disc outside;
  margin-left: 20px; }
.fw-swiper img {
  position: absolute; }

.fw-page1 {
  background-color: #0281C6;
  color: #fff; }
  .fw-page1 dl {
    bottom: 5%;
    left: 0; }
  .fw-page1 img {
    top: 15%;
    left: -30%; }

.fw-page2 {
  background-color: #F1F1F3;
  color: #555; }
  .fw-page2 dl {
    bottom: 5%;
    left: 0; }
  .fw-page2 img {
    top: 10%;
    right: 0; }

.fw-page3 {
  background-color: #fff;
  color: #555; }
  .fw-page3 dl {
    bottom: 5%;
    left: 0; }
  .fw-page3 img {
    top: 10%;
    left: 0; }

.fw-page4 {
  background-color: #F1F1F3;
  color: #555; }
  .fw-page4 dl {
    bottom: 5%;
    left: 0; }
  .fw-page4 img {
    top: 15%;
    right: 0; }

.fw-page5 {
  background-color: #F1F1F3;
  color: #555; }
  .fw-page5 dl {
    bottom: 5%;
    left: 0; }
  .fw-page5 img {
    top: 15%;
    right: 0; }

.fw-page6 {
  background-color: #fff;
  color: #555; }
  .fw-page6 dl {
    bottom: 5%;
    left: 0; }
  .fw-page6 img {
    top: 15%;
    right: 0; }

.gj-swiper dl {
  position: absolute;
  width: 100%; }
.gj-swiper dt {
  font-size: 2.4em;
  padding: 0 10px; }
.gj-swiper dd {
  font-size: 1.4em;
  padding: 5px 10px; }
.gj-swiper li {
  list-style: disc outside;
  margin-left: 20px; }
.gj-swiper img {
  position: absolute; }

.gj-page1 {
  background-color: #BDEAFD;
  color: #555; }
  .gj-page1 dl {
    bottom: 5%;
    left: 0; }
  .gj-page1 img {
    top: 15%;
    left: 0; }

.gj-page2 {
  background-color: #EFEFEF;
  color: #555; }
  .gj-page2 dl {
    bottom: 5%;
    left: 0; }
  .gj-page2 img {
    top: 15%;
    right: 0; }

.gj-page3 {
  background-color: #EFEFEF;
  color: #555; }
  .gj-page3 dl {
    bottom: 5%;
    left: 0; }
  .gj-page3 img {
    top: 15%;
    left: 0; }

.gj-page4 {
  background-color: #EFEFEF;
  color: #555; }
  .gj-page4 dl {
    bottom: 5%;
    left: 0; }
  .gj-page4 img {
    top: 15%;
    right: 0; }

.ywd-swiper dl {
  position: absolute;
  width: 100%; }
.ywd-swiper dt {
  font-size: 2.4em;
  padding: 0 10px; }
.ywd-swiper dd {
  font-size: 1.4em;
  padding: 5px 10px; }
.ywd-swiper li {
  list-style: disc outside;
  margin-left: 20px; }
.ywd-swiper img {
  position: absolute; }

.ywd-page1 {
  background-color: #8FC31F;
  color: #fff; }
  .ywd-page1 dl {
    bottom: 5%;
    left: 0; }
  .ywd-page1 img {
    top: 15%;
    left: 15%; }

.ywd-page2 {
  background-color: #F1F1F3;
  color: #555; }
  .ywd-page2 dl {
    bottom: 5%;
    left: 0; }
  .ywd-page2 img {
    top: 15%;
    right: 0; }

.ywd-page3 {
  background-color: #fff;
  color: #555; }
  .ywd-page3 dl {
    bottom: 5%;
    left: 0; }
  .ywd-page3 img {
    top: 15%;
    left: 0; }

.ywd-page4 {
  background-color: #F1F1F3;
  color: #555; }
  .ywd-page4 dl {
    bottom: 5%;
    left: 0; }
  .ywd-page4 img {
    top: 15%;
    right: 0; }

.ywd-page5 {
  background-color: #fff;
  color: #555; }
  .ywd-page5 dl {
    bottom: 5%;
    left: 0; }
  .ywd-page5 img {
    top: 15%;
    right: 0; }

.jdk-swiper dl {
  position: absolute;
  width: 100%; }
.jdk-swiper dt {
  font-size: 2.4em;
  padding: 0 10px; }
.jdk-swiper dd {
  font-size: 1.4em;
  padding: 5px 10px; }
.jdk-swiper li {
  list-style: disc outside;
  margin-left: 20px; }
.jdk-swiper img {
  position: absolute; }

.jdk-page1 {
  background-color: #2F7EBE;
  color: #fff; }
  .jdk-page1 dl {
    bottom: 5%;
    left: 0; }
  .jdk-page1 img {
    top: 0;
    left: -20%; }

.jdk-page2 {
  background-color: #F1F1F3;
  color: #555; }
  .jdk-page2 dl {
    bottom: 5%;
    left: 0; }
  .jdk-page2 img {
    top: 15%;
    right: 0; }

.jdk-page3 {
  background-color: #fff;
  color: #555; }
  .jdk-page3 dl {
    bottom: 5%;
    left: 0; }
  .jdk-page3 img {
    top: 15%;
    left: 0; }

.jdk-page4 {
  background-color: #F1F1F3;
  color: #555; }
  .jdk-page4 dl {
    bottom: 5%;
    left: 0; }
  .jdk-page4 img {
    top: 15%;
    right: 0; }

.jdk-page5 {
  background-color: #fff;
  color: #555; }
  .jdk-page5 dl {
    bottom: 5%;
    left: 0; }
  .jdk-page5 img {
    top: 15%;
    right: 0; }

.jdk-page6 {
  background-color: #fff;
  color: #555; }
  .jdk-page6 dl {
    bottom: 5%;
    left: 0; }
  .jdk-page6 img {
    top: 15%;
    right: 0; }

.u-arrow-bottom {
  position: fixed;
  bottom: 10px;
  left: 50%;
  z-index: 99;
  width: 24px;
  height: 14px;
  background: transparent url(../images/slideArrow.png) 0 0 no-repeat;
  margin-left: -12px;
  background-size: 24px 14px; }

.startUp {
  -webkit-animation: startUp 1.5s infinite ease-in-out;
  -moz-animation: startUp 1.5s infinite ease-in-out;
  animation: startUp 1.5s infinite ease-in-out; }

@-webkit-keyframes startUp {
  0%,30% {
    opacity: 0;
    -webkit-transform: translate(0, 10px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -8px); } }
@-moz-keyframes startUp {
  0%,30% {
    opacity: 0;
    -moz-transform: translate(0, 10px); }
  60% {
    opacity: 1;
    -moz-transform: translate(0, 0); }
  100% {
    opacity: 0;
    -moz-transform: translate(0, -8px); } }
@keyframes startUp {
  0%,30% {
    opacity: 0;
    transform: translate(0, 10px); }
  60% {
    opacity: 1;
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    transform: translate(0, -8px); } }
.swiper-slide-active .rotate {
  -webkit-animation: rotate 2s infinite linear;
  -moz-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear; }
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.swiper-slide-active .fadeInBottom {
  -webkit-animation: fadeInBottom 2s ease 0.7s both;
  -moz-animation: fadeInBottom 2s ease 0.7s both;
  animation: fadeInBottom 2s ease 0.7s both; }
@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }
@-moz-keyframes fadeInBottom {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.swiper-slide-active .fadeInTop {
  -webkit-animation: fadeInTop 2s ease 0.7s both;
  -moz-animation: fadeInTop 2s ease 0.7s both;
  animation: fadeInTop 2s ease 0.7s both; }
@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-moz-keyframes fadeInTop {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none; } }
@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.swiper-slide-active .fadeInLeft {
  -webkit-animation: fadeInLeft 2s ease 0.7s both;
  -moz-animation: fadeInLeft 2s ease 0.7s both;
  animation: fadeInLeft 2s ease 0.7s both; }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.swiper-slide-active .fadeInRight {
  -webkit-animation: fadeInRight 2s ease 0.7s both;
  -moz-animation: fadeInRight 2s ease 0.7s both;
  animation: fadeInRight 2s ease 0.7s both; }
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
body {
  background-color: #fff;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

nav:not(.mm-menu) {
  display: none; }

#page {
  height: 100%; }

.mm-title, .mm-close {
  font-size: 1.4em; }

.header {
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 50px; }
  .header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; }
  .header .menu {
    background: transparent url(../images/head-ico.png) 0 -55px no-repeat;
    display: block;
    width: 22px;
    height: 40px;
    background-size: 123px 84px;
    position: absolute;
    top: 0;
    right: 10px; }
  .header .logo {
    display: block;
    background: transparent url(../images/head-ico.png) 0 8px no-repeat;
    background-size: 80%;
    height: 40px;
    width: 90px;
    position: absolute;
    top: 0;
    left: 10px; }

.content {
  padding: 40px 0 0; }

.article-content {
  padding: 0 10px 0 10px; }
  .article-content h2 {
    font-size: 2em;
    color: #666;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 5px 0; }
  .article-content ol li {
    font-size: 1.6em;
    position: relative;
    border-bottom: 1px solid #ccc; }
    .article-content ol li:before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      top: 20px;
      right: 10px;
      border-color: #ccc;
      border-style: solid;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    .article-content ol li a {
      display: block;
      padding: 10px 0;
      width: 92%;
      color: #666; }

.article-box {
  margin-top: 5px;
  font-size: 1.6em;
  color: #666; }
  .article-box li {
    line-height: 2; }
  .article-box h3 {
    font-size: 1.3em;
    padding: 10px 0;
    color: #96722b; }
  .article-box p {
    line-height: 2;
    text-indent: 2em; }
  .article-box .img-content {
    text-align: center;
    margin: 10px auto; }
  .article-box img {
    max-width: 100%;
    width: 100%;
    margin: 5px auto 0 auto;
    display: block; }

.article-page {
  padding: 10px 0;
  font-size: 2em; }
  .article-page a {
    color: #000; }

.page-swiper .swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center; }
.page-swiper .swiper-slide {
  position: relative; }
  .page-swiper .swiper-slide .title {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 99;
    font-size: 1.6em;
    padding-left: 10px; }
  .page-swiper .swiper-slide img {
    width: 100%; }
.page-swiper .pagination {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  width: 100%;
  text-align: right; }
.page-swiper .swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin: 0 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer; }
.page-swiper .swiper-active-switch {
  background: #fff; }
.page-swiper .swiper-visible-switch {
  background: #fff; }

/*# sourceMappingURL=main.css.map */
