/*
 Name:style.css
 Description:简历样式
 Version:3.0
 Author: wangzhe
 email hi@wangdaodao.com
*/
body, h1, h2, h3, ul, ol, li, dl, dt, dd, p, td{ margin:0; padding:0; }
body{ font-size:14px; line-height:180%; text-align:center; background-image:url(../images/wood2.jpg); font-family:'Microsoft YaHei', Arial, Verdana, Sans-Serif; }
ul, ol{ list-style:none; }
em{ font-style:normal; background:#eee; color:#666; padding:0 5px; margin:0 2px; font-size:0.9em; border:1px solid #ddd; border-radius:3px; }
a:link, a:visited{ text-decoration:none; color:#ec3b36; }
a:hover{ text-decoration:none; color:#4AACAD; }
h1{ font-size:28px; }
h2{ font-size:18px; }
h2 em{font-size: 12px;font-weight: normal;margin-left: 10px;}
h3, dt{ font-size:14px; }
sup{ font-weight:normal; }
sup a{ cursor:help; }
#pager{ min-width:460px; width:61.8%; margin:25px auto 0 auto; text-align:left; background:transparent url(../images/paper.png) 0 0 repeat; border-radius:6px; box-shadow:0 0 5px #000; position: relative; }
#header{ border-radius:5px 5px 0 0; background:transparent url(../images/nav.png) 0 0 repeat-x; height:50px; line-height:46px; text-align:center; color:#fff; }
#content{ background:transparent url(../images/container.png) 0 0 repeat-x; padding:0 20px 20px 25px; border-radius:0 0 5px 5px; }
#content h2, #content h3{ line-height:21px; padding-top:15px; }
#content dl{ margin-top:6px; }
#content dt{ font-weight:normal; color:#999; }
#content ul{ margin:12px 0 25px 22px; }
#content ol{ margin:12px 0 25px 42px; }
#content li{ line-height:24px; margin-bottom:9px; }
#content ol li{ list-style:decimal; }
#content ul li{ list-style:none; }
#content p{ margin:10px 0 17px; }
#footer{ position: absolute; background:transparent url(../images/pencil.png) 0 0 no-repeat; width: 291px; bottom: 16px; right: 0; height: 45px; }
#footer img{ position: absolute; top: -170px; left: 80px; }
.hide{ display: none; }
#footer:hover .hide{ display: block; }
.show{ display: block; }
#copyright{ margin: 10px 0; }
#copyright .font_yellow{ color:#F49521; }
#copyright .font_blue{ color:#4AACAD; }
#copyright .font_black{ color:#000; }