@charset "utf-8";
/*
 Name:重置样式
 Description:这里负责重置浏览器样式。
 Version:1.1
 Author: wangdaodao
*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dd, ul, ol, pre,fieldset,legend, button, input, textarea, th, td { margin: 0; padding: 0; }
button, input, select, textarea { font: 12px/1.5 "Microsoft YaHei",微软雅黑, Arial, Verdana, Sans-Serif; }
body { font:12px/1.5 "Microsoft YaHei",微软雅黑, Arial, Verdana, Sans-Serif; color:#000; position:relative; width:100%; height:100%; margin:0 auto; }
html { width:100%; height:100%; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp, tt { font-family: "Courier New", 9, monospace; } 
small { font-size: 12px; }
ul, ol { list-style: none; }
a { text-decoration: none; }
a:link, a:visited , ins { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
abbr, acronym { border: 0; font-variant: normal; }
sup{ vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
legend { color: #000; }
fieldset, img { border: none; } 
img{ vertical-align: middle; }
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
caption { text-align: left; }
hr { border: none; height: 1px; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
.clear:after { content: ""; display: block; height: 0; clear: both; }
.clear{ zoom:1; }
// @extend %text-overflow
%text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
%f-left{
  float: left;
  display: inline;
}
%f-right{
  float: right;
  display: inline;
}