@charset "utf-8";
//公共样式
@import "_comment.scss";
$green-color:#22C064;
$blue-color:#44B2DA;
$red-color:#D61515;
$gray-color:#333;
body{
  font-size:62.5%;
}
.font-green{
  color: $green-color;
}
.font-blue{
  color: $blue-color;
}
.font-left{
  text-align: left;
}
.font-right{
  text-align: right;
}
.font-center{
  text-align: center;
}
// btn样式，默认绿色
.ui-btn {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding:5px 12px;
  overflow:visible;
  border: 1px solid $green-color;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: normal;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: $green-color;
}
.ui-btn-blue{
  border: 1px solid $blue-color;
  background: $blue-color;
}
.ui-btn-gray {
  color: $gray-color;
  border:1px solid #DAD9D7;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
  background: #F3F3F3;
}
.ui-btn-block{
  display: block;
  width: 100%;
  padding:5px 0;
}
.header{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #CCC;
  background-color: #fff;
}
.header-form{
  display: block;
  padding: 10px;
  border-bottom: 1px solid #CCC;
  background-color: #F8F8F8;
}
.search-form{
  position: relative;
  .search-form_input{
    border:1px solid #CCC;
    width: 90%;
    height: 25px;
    padding: 5px;
    border-radius:10px;
    font-size: 2em;
  }
  .search-form_btn{
    position: absolute;
    right: 10%;
    top: 10px;
    background: transparent url(../images/search.png) 0 0 no-repeat;
    border:none;
    width: 18px;
    height: 18px;
  }
}
.select-form{
  select{
    border-radius:10px;
    border:1px solid #CCC;
    color: #B3B3B3;
    width: 98%;
    height: 37px;
    padding:0 5px;
    font-size: 2em;
    background-color:#FFF;
  }
}
.header-info{
  height: 30px;
  font-size: 2em;
  padding:5px 10px;
  color: #B3B3B3;
  span{
    color: $green-color;
  }
}
.content{
  padding-top: 100px;
}
.content-list{
  position: relative;
  padding: 10px;
  dt{
    font-size: 2em;
    margin-bottom: 10px;
    span{
      font-size: 0.7em;
      color: #FFF;
      padding:2px;
      background-color: $blue-color;
      border-radius:5px;
      margin-left: 10px;
    }
  }
  dd{
    color: #A6A6A6;
    font-size: 2em;
    line-height: 1;
    span{
      width: 49%;
      @extend %text-overflow;
      display: inline-block;
    }
    input{
      position: absolute;
      right: 10px;
      top: 30px;
    }
  }
}
.content-list+.content-list{
  border-top:1px solid #ccc;
}
// 弹出
.dialog{
  position:fixed;
  width: 80%;
  left: 50%;
  top: 15%;
  margin-left: -40%;
  border-radius: 5px;
  background-color:#fff;
  z-index: 9999;
  font-size: 14px;
  color: #333;
  display: none;
}
.dialog-close{
  position:absolute;
  top: 13px;
  right: 15px;
  background: transparent url(../images/close.png) 0 0 no-repeat;
  width: 15px;
  height: 15px;
}
.dialog-body{
  padding:50px;
  overflow: hidden;
  text-align: center;
}
.dialog-bg{
  width: 100%;
  height: 100%;
  background-color:#000;
  opacity: 0.5; 
  position:fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  display: none;
}
.dialog-form{
  select{
    border-radius:10px;
    border:1px solid #CCC;
    color: #B3B3B3;
    width: 100%;
    height: 37px;
    padding:0 5px;
    font-size: 20px;
    background-color:#FFF;
    margin-bottom: 30px;
  }
  
}
.dialog-alert{
  p + p{
    margin-top: 20px;
  }
}