---
layout: default
---
<div class="meta"><span class="time">{{ page.date | date:"%Y-%m-%d" }}</span>{% if page.categories.size != 0 %} | <span class="categories">  分类  {% for cat in page.categories %}<a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;  {% endfor %}</span>{% endif %}{% if page.tags.size != 0 %} | <span class="tags">  标签  {% for tag in page.tags %}  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;  {% endfor %}</span>{% endif %}</div>
        <div class="article">
          {{ content }}
        </div>
        <form class="alipay" action="https://shenghuo.alipay.com/send/payment/fill.htm" accept-charset="gbk" id="dinggou" method="post" name="dinggou" target="_blank">如果觉得此篇文章对您有帮助，希望可以<input name="" type="submit" value="请我喝咖啡！" class="alipay-btn" /><input name="optEmail" type="hidden" value="sony7312002@qq.com" /><input name="memo" type="hidden" value="来自博客的赞助！" /><input id="payAmount" name="payAmount" type="hidden"value="10" /><input id="title" name="title" type="hidden" value="请我喝咖啡！" /></form>
        <div class="other-post"><span><a {% if page.previous %} href="{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >上一篇</a>&nbsp;&nbsp;&nbsp;<a {% if page.next %} href="{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >下一篇</a>&nbsp;&nbsp;&nbsp;<a class="pageNav" href="#">返回顶部</a></span></div>
{% if page.comments %}{% include comments.md %}{% endif %}