/*还原样式*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dd, ul, ol, pre,fieldset,legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}
button, input, select, textarea {
	font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
}
body {
	font-family: "Microsoft YaHei", 宋体, Arial, Verdana, Sans-Serif;
	font-size:62.5%;
	color:#fff;
	position:relative;
	width:100%;
	height:100%;
	margin:0 auto;
}
html {
	width:100%;
	height:100%;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
address, cite, dfn, em, var {
	font-style: normal;
}
small {
	font-size: 12px;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}
a:link, a:visited , ins {
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
sup{
	vertical-align:text-top;
}
sub{
	vertical-align:text-bottom;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
legend {
	color: #000;
}
fieldset, img {
	border: none;
} 
img{
	vertical-align: middle;
}
button, input, select, textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption {
	text-align: left;
}
hr {
	border: none;
	height: 1px;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/*字体大小*/
.font18{
	font-size: 1.8em;
}
.font20{
	font-size: 2em;
}
.font_right{
	text-align: right;
	padding-right: .4em;
}
.font_center{
	text-align: center;
}
/*字体颜色*/
.font_red{
	color:#F00;
}
.font_green{
	color:#090;
}
.font_blue{
	color:#067AEB;
}
.font_yellow{
	color:#F60;
}
.font_gray{
	color:#666;
}
.font_black{
	color:#000;
}
/*定位浮动*/
.fleft{
	float:left;
	display: inline;
}
.fright{
	float:right;
	display: inline;
}
.clear:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.clear{
	zoom:1;
}
/*主题开始*/
.wrap{
	width: 96%;
	margin: 0 auto;
	max-width: 1280px;
}
/*头部*/
#header{
	height: 190px;
	background-color: #ECF1F0;
	text-align: center;
	padding: 10px;
	color: #000;
	overflow: hidden;
}
.logo{
	font-size: 4.8em;
}
.desc{
	margin-top: 20px;
	font-size: 3em;
}
.nav{
	margin-top: 20px;
	font-size: 1.8em;
}
.nav li{
	display: inline;
}
.nav li a{
	padding: 5px;
	color: #000;
}
#main{
	overflow: hidden;
}
.main-post{
	padding: 30px 0;
	position: relative;
	overflow: hidden;
}
.post-content{
	margin-left: 130px;
	overflow: hidden;
}
.format-ico{
	width: 128px;
	height: 64px;
	padding-top: 64px;
	text-align: center;
	font-size: 4.8em;
	position: absolute;
	top: 60px;
	left: 10px;
	font-weight: bold;
	background-image: url(images/format_ico.png);
	background-repeat:no-repeat;
	background-color: transparent; 
}
.post-list{
	background-color: #fff;
	color: #000;
	float: left;
	display: inline;
	margin:30px;
}
.post-list h3 a{
	color: #222;
}
.post-list:hover{
	box-shadow: 0 0 20px #000;
}
.post-info{
	height: 34px;
	line-height: 34px;
	padding: 0 15px;
	color: #aaa;
	font-size: 1.2em;
}
.post-info a{
	color: #aaa;
}
.date{
	float: left;
}
.comm{
	float: right;
	padding-left: 5px;
}
/*默认文章*/
.format-standard{
	background-color: #16A185;
	overflow: hidden;
	position: relative;
}
.standard-ico{
	background-position: 15px 0;
}
.format-standard .post-list{
	width: 290px;
	height: 230px;
}
.format-standard h3{
	line-height: 56px;
	height: 46px;
	overflow: hidden;
	padding: 0 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 250px;
}
.standard-summary{
	background-color: #f2f2f2;
	padding: 15px;
	width: 260px;
	height: 120px;
	overflow: hidden;
	line-height: 20px;
	font-size: 1.2em;
	text-indent: 2em;
}
.standard-img{
	width: 290px;
	height: 150px;
	background-position: center center;
	background-repeat: no-repeat;
}
/*图片格式*/
.format-image{
	background-color: #27AF60;
	overflow: hidden;
	position: relative;
}
.image-ico{
	background-position: -125px 0;
}
.format-image .post-list{
	width: 290px;
	height: 230px;
}
.image-img{
	width: 290px;
	height: 190px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 5px;
}
/*音乐格式*/
.format-audio{
	background-color: #2980B9;
	overflow: hidden;
	position: relative;
}
.audio-ico{
	background-position: -250px 0;
}
.format-audio .post-list{
	width: 290px;
	height: 160px;
}
.audio-content{
	padding: 5px;
	height: 110px;
	overflow: hidden;
	background: transparent url(images/audio_bg.png) 115px 5px no-repeat;
}
.audio-content img{
	float: left;
	padding-right: 30px;
	width: 110px;
	height: 110px;
}
.l-play{
	margin:10px 0 0 5px; 
}
.x-play{
	margin:0 0 0 5px; 
}
/*视频格式*/
.format-video{
	background-color: #8E44AD;
	overflow: hidden;
	position: relative;
}
.video-ico{
	background-position: -382px 0;
}
.format-video .post-list{
	width: 300px;
	height: 230px;
}
/*链接格式*/
.format-link{
	background-color: #F39C12;
	overflow: hidden;
	position: relative;
}
.link-ico{
	background-position: -510px 0;
}
.format-link .post-list{
	width: 300px;
	height: 230px;
}
/*相册格式*/
.format-gallery{
	background-color: #D35400;
	overflow: hidden;
	position: relative;
}
.gallery-ico{
	background-position: -638px 0;
}
.format-gallery .post-list{
	width: 300px;
	height: 230px;
}
/*状态格式*/
.format-status{
	background-color: #C0392B;
	overflow: hidden;
	position: relative;
}
.status-ico{
	background-position: -764px 0;
}
.format-status .post-list{
	width: 300px;
	height: 230px;
}
/*引语格式*/
.format-quote{
	background-color: #2C3E50;
	overflow: hidden;
	position: relative;
}
.quote-ico{
	background-position: -896px 0;
}
.format-quote .post-list{
	width: 300px;
	height: 230px;
}